# Markdown files are for my READMEs
*.md linguist-documentation
# PDF files are for the specifications for each project (generally)
*.pdf linguist-documentation
# TXT files are for data (generally)
*.txt linguist-documentation
# Image files don't need to be tracked
*.png linguist-documentation
*.jpg linguist-documentation
*.gif linguist-documentation
*.ico linguist-documentation
# Minimized CSS is generated
*.min.css linguist-generated
# Basically all JSON, config, and rules files are generated and rarely ever edited by me
*.json linguist-generated
*.config.js linguist-generated
*.rules linguist-generated
*.xml linguist-generated
*.lock linguist-generated