bootstrap/** linguist-vendored
config/** linguist-vendored
lang/** linguist-vendored
artisan linguist-vendored
tests/** linguist-vendored
.editorconfig linguist-vendored
*.json linguist-generated
*.lock linguist-generated
*.xml linguist-generated
*.config.js linguist-generated